{% if content.blocks|default([])|length %}
  <div class="blocks">
    {% for block in content.blocks %}
      <div class="blocks__item">
        {% include 'partials/blocks/' ~ block.type ~ '.html.twig' with {
          content: block,
          view: view.blocks[loop.index0],
        } only %}
      </div>
    {% endfor %}
  </div>
{% endif %}
