{% extends 'base.html.twig' %}

{% block content %}

  {% include 'partials/overview_types/' ~ content.element.type ~ '.html.twig' with {element: content.element} %}

  {% include 'partials/blocks.html.twig' %}
{% endblock %}
