{% set page = sulu_content_load(content.page, ['title', 'url']) %}

<a href="{{ sulu_content_path(page.content.url) }}" class="button block-link">
  {{ text|default(page.content.title|default('read_more'|trans)) }}
</a>
