<div class="max-w-7xl mx-auto">
  <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
    {% for page in element.pages %}
{#      {{ dump(page) }}#}
      {% set image = page.excerptImages[0]|default(page.headerImage) %}
      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          {% if image is not empty %}
            {{ get_image(image, {
              src: '400x',
              class: 'h-48 w-full object-cover',
              alt: page.excerptTitle|default(page.title),
              title: page.excerptTitle|default(page.title),
            }) }}
          {% endif %}
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="text-sm font-medium text-indigo-600">
            </p>
            <a href="{{ sulu_content_path(page.url) }}" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                {{ page.excerptTitle|default(page.title) }}
              </p>
              <p class="mt-3 text-base text-gray-500">
                {{ page.excerptDescription|default('')|raw }}
              </p>
            </a>
          </div>
          <div class="mt-6 flex items-center">
            <div class="flex-shrink-0">
              <a href="#">
                <span class="sr-only">Roel Aufderehar</span>
                <img class="h-10 w-10 rounded-full"
                     src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                     alt="">
              </a>
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium text-gray-900">
                <a href="#" class="hover:underline">
                  Roel Aufderehar
                </a>
              </p>
              <div class="flex space-x-1 text-sm text-gray-500">
                <time datetime="2020-03-16">
                  {{ page.published|format_date(locale=app.request.locale) }}
                </time>
                <span aria-hidden="true">
                  &middot;
              </span>
              </div>
            </div>
          </div>
        </div>
        <a href="{{ sulu_content_path(page.url) }}" class="absolute inset-0 w-100 h-100 cursor-pointer z-10"></a>
      </div>
    {% endfor %}
  </div>
</div>
