@layer base {
  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='search'],
  input[type='tel'],
  input[type='time'],
  input[type='week'],
  select[multiple],
  textarea,
  select {
    @apply w-full sm:text-sm border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
  }

  input[type='checkbox'], input[type='radio'] {
    @apply text-indigo-600 rounded border-gray-300 focus:ring-indigo-500;
  }
}
