<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css?v=3.19">

    {% block meta %}
      {% include "@SuluWebsite/Extension/seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "localizations": localizations|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
      } %}
    {% endblock %}

    {% block style %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="font-inter flex flex-col min-h-screen">
    {% block header %}
      {{ include('partials/header.html.twig') }}
    {% endblock %}

{#    <form action="{{ path('sulu_search.website_search') }}" method="GET">
      <input autocomplete="off" name="q" type="text" placeholder="Search"/>
      <input type="submit" value="Go"/>
    </form>#}

    <main class="flex-grow">
      {% block content %}{% endblock %}
    </main>

    {% block footer %}
      {{ include('partials/footer.html.twig') }}
    {% endblock %}
  </body>
</html>
